html {
    font-family: Arial;
}

.app {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.song-container.played {
    color: #666;
}

.song-container.played h2 {
    font-style: italic;
}

table.chord-chart {
    border: 1px solid black;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

table.chord-chart td {
    border: 2px solid black;
    padding: 0.5em;
    text-align: center;
    min-width: 5em;
}

.accordion-container .collapsable-content.closed {
    display: none;
}